In [1]:
import pandas as pd

# Cargar el archivo con las predicciones generadas

In [3]:
submission_path = "submission.csv"
df_submission = pd.read_csv(submission_path)

# Cargar el archivo de respuestas reales (sample_submission)

In [5]:
sample_submission_path = r"C:\Users\franc\Desktop\ML_IoT\sample_submission.csv"
df_sample = pd.read_csv(sample_submission_path)

df_comparison = df_sample.merge(df_submission, on="Id", suffixes=("_Real", "_Predicho"))

### Calcular el porcentaje de error en cada predicción**

In [7]:
df_comparison["Error (%)"] = abs(df_comparison["SalePrice_Real"] - df_comparison["SalePrice_Predicho"]) / df_comparison["SalePrice_Real"] * 100

### Calcular el error total acumulado**

In [9]:
error_total_acumulado = abs(df_comparison["SalePrice_Real"] - df_comparison["SalePrice_Predicho"]).sum()

In [10]:
# Guardar el archivo comparativo
df_comparison.to_csv(r"C:\Users\franc\Desktop\ML_IoT\comparison_results.csv", index=False)

In [11]:
print(f"Error total acumulado: ${error_total_acumulado:,.2f}")
print("Archivo de comparación guardado como 'comparison_results.csv'")

Error total acumulado: $80,214,163.26
Archivo de comparación guardado como 'comparison_results.csv'

In [21]:
df_comparison

        Id  SalePrice_Real  SalePrice_Predicho  Error (%)
0     1461   169277.052498          131110.140  22.547009
1     1462   187758.393989          157928.480  15.887393
2     1463   183583.683570          174881.800   4.740009
3     1464   179317.477511          183308.520   2.225685
4     1465   150730.079977          204548.300  35.705030
...    ...             ...                 ...        ...
1454  2915   167081.220949           73819.516  55.818185
1455  2916   164788.778231           87931.375  46.639950
1456  2917   219222.423400          153916.120  29.789974
1457  2918   184924.279659          110221.630  40.396345
1458  2919   187741.866657          217552.470  15.878506

[1459 rows x 4 columns]